.profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 80px 17.5% 0px 17.5%;
}

.title {
    padding: .5em .7em;
    border-left: #474747 solid 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 65%;
}

th {
    background-color: #474747;
    color: #FFFFFF;
    width: 40%;
    height: 40px;
    font-size: 15px;
}
td {
    text-align: left;
    padding: 0 0 0 20px;
    background-color: #fafafa;
    width: 60%;
    height: 40px;
}

@media (max-width: 950px) {
    .profile-container {
        margin: 80px 12.5% 0px 12.5%;
    }
    table {
        width: 100%;
    }
    th {
        font-size: 14px;
    }
}

/* Iam */
.dot {
    border-top: 2px dotted #474747;
    display: none;
}
.Iam {
    background-color: #f5f5f5;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 120px;
    width: 100%;
}
.name {
    text-align: left;
    display: flex;
    margin-right: 30px;
}
.box-1 {
    text-align: left;
    display: flex;
    margin-right: 30px;
}
.box-1 :where(.name){
    margin: 0 0 0 20px;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 10px 0 10px 0;
}
.box-2 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 30px;
}
.box-2 :where(.icon){
    color: #474747;
    opacity: 0.7;
}
.box-2 :where(.icon) :hover{
    background-color: #ff0000;
}
.user-image {
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.7;
    width: 70px;
}
/* Iam end */