.profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 80px 17.5% 0px 17.5%;
}

.title {
    padding: .5em .7em;
    border-left: #474747 solid 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 65%;
}

th {
    background-color: #474747;
    color: #FFFFFF;
    width: 40%;
    height: 40px;
    font-size: 15px;
}
td {
    text-align: left;
    padding: 0 0 0 20px;
    background-color: #fafafa;
    width: 60%;
    height: 40px;
}

@media (max-width: 950px) {
    .profile-container {
        margin: 80px 12.5% 0px 12.5%;
    }
    table {
        width: 100%;
    }
    th {
        font-size: 14px;
    }
}

/* Iam */
.dot {
    border-top: 2px dotted #474747;
    display: none;
}
.Iam {
    background-color: #f5f5f5;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 120px;
    width: 100%;
}
.name {
    text-align: left;
    display: flex;
    margin-right: 30px;
}
.box-1 {
    text-align: left;
    display: flex;
    padding: 0px 30px 0px 30px;
}
.box-1 :where(.name){
    margin: 0 0 0 20px;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 10px 0 10px 0;
}
.box-2 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 30px 0px 30px;
}
.box-2 :where(.icon-1, .icon-2, .icon-3){
    display: flex;
    align-items: center;
    color: #474747;
    /* padding: 0px 15px 0px 15px; */
    font-size: 40px;
    opacity: 0.7;
    transition: color 0.3s;
}
.box-2 :where(.icon-1):hover {
    color: #df5adf;
}
.box-2 :where(.icon-2):hover {
    color: #000000;
}
.box-2 :where(.icon-3):hover {
    color: #43b943;
}

.user-image {
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.7;
    width: 70px;
}

@media (max-width: 950px) {
    .Iam {
        display: block;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .box-1 {
        display: flex;
        justify-content: center;
    }
    .dot {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0px auto 0px auto;
    }
    .box-2 {
        padding: 0px 0px 25px 0px;
    }
    .box-2 :where(.icon-1, .icon-2, .icon-3) {
        font-size: 35px;
    }
}
/* Iam end */
