.home-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
}

.logo {
    pointer-events: none;
    user-select: none;
    width: 150px;
}

.hr {
    width: 65%;
}

@media (max-width: 950px) {
    .hr {
        width: 75%
    }
}