.skill-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 17.5% 0px 17.5%;
}

.title {
    padding: .5em .7em;
    border-left: #474747 solid 5px;
}

/* Skill chart */
/* Special Thanks | CSS Stock */
.radar-chart-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 230px;
    height: 230px;
    margin: 0 auto;
    padding: 35px;
    box-sizing: content-box;
}

.radar-chart-2 svg {
    width: 100%;
    height: 100%;
}

.radar-chart-2 dl {
    position: absolute;
    width: 100%;
    height: 100%;
}

.radar-chart-2 dl > div {
    position: absolute;
    color: #474747;
    font-size: .6em;
    text-align: center;
}

.radar-chart-2 dl > div:nth-child(1) {
    top: 0;
    left: 45%;
    transform: translateX(-50%);
}

.radar-chart-2 dl > div:nth-child(2) {
    top: 28%;
    right: 15%;
    transform: translateX(50%);
}

.radar-chart-2 dl > div:nth-child(3) {
    bottom: 15%;
    right: 33%;
    transform: translateX(50%);
}

.radar-chart-2 dl > div:nth-child(4) {
    bottom: 15%;
    left: 22%;
    transform: translateX(-50%);
}

.radar-chart-2 dl > div:nth-child(5) {
    top: 28%;
    left: 6%;
    transform: translateX(-50%);
}

.radar-chart-2 dt {
    font-weight: bold;
}
.radar-chart-2 dd {
    margin: 0;
}
/* Skill chart end */

@media screen and (max-width: 950px) {
    .skill-container {
        margin: 0px 12.5% 0px 12.5%;
    }
    svg {
        justify-content: center;
        margin: 0px 17px 0px 17px;
    }

    .radar-chart-2 dl > div:nth-child(1) {
        top: 0;
        left: 51%;
        transform: translateX(-50%);
    }

    .radar-chart-2 dl > div:nth-child(2) {
        top: 28%;
        right: 11%;
        transform: translateX(50%);
    }

    .radar-chart-2 dl > div:nth-child(3) {
        bottom: 15%;
        right: 29%;
        transform: translateX(50%);
    }

    .radar-chart-2 dl > div:nth-child(4) {
        bottom: 15%;
        left: 29%;
        transform: translateX(-50%);
    }

    .radar-chart-2 dl > div:nth-child(5) {
        top: 28%;
        left: 13%;
        transform: translateX(-50%);
    }
}